@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-cream-50 text-slate-800;
  }

  ::selection {
    background-color: #DCE8DE;
    color: #2E4F35;
  }
}
